@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "PHIẾU MƯỢN";
    ViewBag.Link = "/admin/order";
    var user = ViewData["User"] as User;
}
@model Order


 <main>
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between align-items-center">
                             <h4 class="mt-4" style="margin-bottom:20px">CHI TIẾT PHIẾU MƯỢN# @Model.Id</h4>
                             <a href="/admin/order" class="btn btn-sm btn-secondary"><i class="fas fa-arrow-left"></i></a>
                        </div>
                    </div>
                     <div class="card mb-4">
                              <div asp-validation-summary="All" class="alert alert-danger"></div>          
                    
<div class="row">
     <div class="col-8 mx-auto pb-5">
            <form action="/admin/order/@Model.Id" method="post">
                    @if(TempData["Error"] != null){
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }
                    @if(@TempData["Success"] != null)
                         {
                             <div class="alert alert-success">
                                 @TempData["Success"]
                             </div>
                         }
                    <div class="d-flex justify-content-between">
                        <div>
                              <div class="md-form mt-5">
                              <label for="form1"> <span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;"> Tên khách hàng:</span> @Model.User.Username</label>
                            </div>
                            <div class="md-form">
                                <label for="form1"> <span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;">  Điện thoại:</span> @Model.User.Phone</label>
                            </div>
                            <div class="md-form">
                                <label for="form1"><span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;">  Email:</span> @Model.User.Email</label>
                            </div>
                            <div class="md-form">
                                <label for="form1"><span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;">  Địa chỉ:</span> @Model.User.Address</label>
                            </div>
                            @* <div class="md-form">
                                <label for="form1"> <span style="width: 200px; display:inline-block"> Đơn giá:</span> @Model.UnitPrice.ToString("N0") VND</label>
                            </div> *@
                            <div class="md-form">
                                <label for="form1"> <span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;">  Phí phạt:</span> <input type="text" name="PenaltyFee" value='@Model.PenaltyFee.ToString("N0")'> VND</label>
                            </div>

                            <div class="md-form">
                                <label for="form1"> <span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;"> Trạng thái:</span></label>
                                <select class="form-input" asp-for="Status">
                                @(Model.Status == OrderStatus.NoProcess ? Html.Raw("<option value='4' selected >Chưa xử lý</option>") : Html.Raw(" <option value='4' >Chưa xử lý</option>"))  
                                @(Model.Status == OrderStatus.Borrowed  ? Html.Raw("<option value='3' selected >Đang mượn</option>") : Html.Raw(" <option value='3' >Đang mượn</option>"))  
                                @(Model.Status == OrderStatus.Success ? Html.Raw("<option value='1' selected >Hoàn thành</option>") : Html.Raw(" <option value='1' >Hoàn thành</option>"))  
                                @(Model.Status == OrderStatus.Dispose ? Html.Raw("<option value='2' selected >Hủy</option>") : Html.Raw(" <option value='2' >Hủy</option>"))  
                                @(Model.Status == OrderStatus.Overdue ? Html.Raw("<option value='5' selected >Quá hạn</option>") : Html.Raw(" <option value='5' >Qúa hạn</option>"))  
                                </select>
                            </div>
                            <div class="md-form">
                                <label for="form1"> <span style=" width: 200px;
                                                                display: inline-block;
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;">  Thời gian mượn:</span> </label>
                                <input type="text" name="datetimes" />
                            </div>
                        <div class="form-group">
                      <span style="
                                                     
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;"> Vi phạm:</label>

                        @foreach (var item in ViewBag.Rules)
                        {
                            var total = 0;
                            var check = false;
                            foreach (var rule in Model.OrderRuleFees)
                            {
                                   if(item.Id == rule.RoleFeeId){
                                        check = true;
                                        total = rule.Total;
                                   }
                            }

                             if(check){
                                <div class="form-check mt-1 d-flex align-items-start justify-content-between">
                                    <div>
                                    <input checked class="form-check-input" type="checkbox" name="ruleFeeId" value="@item.Id" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1" style="font-weight: 400;
                                    text-transform: capitalize;
                                    color: red;
                                    font-size: 14px;"> 
                                        @item.Name
                                    </label>
                                    </div>
                                    <input type="text" name="Total" style="width: 40px" class="text-center form-input" value="@total">
                                </div>
                                  continue;
                                }
                                else{   
                                       <div class="form-check mt-1 d-flex align-items-start justify-content-between">
                                <div>
                                <input  class="form-check-input" type="checkbox" name="ruleFeeId" value="@item.Id" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400;
                                text-transform: capitalize;
                                color: red;
                                font-size: 14px;"> 
                                    @item.Name
                                </label>
                                </div>
                                 <input type="text" name="Total" style="width: 40px" class="text-center form-input" value="@total">
                            </div>
                                }
                        
                        }
                       </div>
                        <div class="form-group">
                            <span style="
                                                           
                                                                font-weight: 600;
                                                                color: #007bff;
                                                                text-transform: uppercase;"> Ghi chú:</label>
                            <textarea  asp-for="Note" id="rtxBlogContent"   class="form-control"></textarea>
                          </div>

                        </div>
                        <div class="pt-5">
                                @foreach (var item in @Model.OrderDetails)
                                {
                                    <div class="card mt-1 " style="width: 18rem;">
                                        <div class="card-body">
                                            <img src="@item.Book.Image" class="image-fulid" style="width:100px" alt="">
                                            <h6 class="card-subtitle mt-2 mb-2 text-muted">@item.Book.Title</h6>
                                            <p class="card-text">Tác giả: @item.Book.Authors.Name</p>
                                            <p class="card-text">NXB: @item.Book.Publishers.Name</p>
                                            <a href="#" class="card-link">Số lượng mượn</a>
                                            <a href="#" class="card-link">@item.Quantity</a>
                                        </div>
                                    </div>
                                }
           
                        </div>
                                
                    </div>
                  
                 
                    <div class="mb-4 mt-4">
                        <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit">Cập nhật</button>
                        <a class="btn btn-success  btn-sm my-0" href="/admin/order/export/@Model.Id">Xuất EXCEL</a>
                    </div>
            </form>
    </div>
</div>
                     </div>
 </main>
  @section Css{ 
    <style>
       .form-upload input[type="file"]{
         width: 100px;
         z-index: 999;
         opacity: 0;
       }
            .alert.alert-danger.validation-summary-valid {
        display: none;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  }


@section Script{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>

    var fromDate = @Html.Raw(Json.Serialize(Model.FromDate));
    var toDate = @Html.Raw(Json.Serialize(Model.ToDate));
    
    $(function() {
    $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        startDate: moment(fromDate),
        endDate: moment(toDate),
        locale: {
        format: 'hh:mm A DD/MM/YYYY'
        }
    });
    });
    </script>
    <script>
        $("#rtxBlogContent").ckeditor();
    </script>
}